@media screen and (max-width: 1366px) {
    html {
        font-size: 11.3px;
    }
}
@media screen and (max-width: 1290px) {
    html {
        font-size: 11px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}
@media screen and (max-width: 991px) {
    html {
        font-size: 11px;
    }
/******************************************
            Header  Section
******************************************/
.header {
    height: auto;
}
/******************************************
            Nav top  Section
******************************************/
.nav {
    padding-left: 2rem;
    padding-right: 2rem;
}
/******************************************
            hero  Section
******************************************/
.hero {
    padding-left: 2rem;
    padding-right: 2rem;
}
.hero__absolute-image-wrapper {
    width: auto;
    height: auto;
}
.hero__content-wrapper {
    padding-top: 0;
}
/******************************************
            store Section
******************************************/
.store {
    padding-left: 2rem;
    padding-right: 2rem;
    height: auto;
}
.store__video-wrapper iframe{
    width:67rem;
    position: relative;
    top: 3rem;
}
.store__image-wrapper {
    width: auto;
    height: auto;
}
.store .grid--2-col {
    padding-top: 5rem;
}
/******************************************
            Features Section
******************************************/
.features {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
}
/******************************************
            Mobile Products Section
******************************************/
.mobile-products{
    height: auto;
    padding: 2rem;
}
.mobile-products .grid__content-col {
    padding-top:0rem;
    align-self: center;
}
.mobile-products__image-wrapper {
    width: auto;
    height: auto;
    position:static;
}
/******************************************
            Test Parameter Section
******************************************/
.test-parameter {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.test-parameter__image-wrapper {
    width: auto;
    height: auto;
}
/******************************************
            Other Information Section
******************************************/
.other-information {
    padding-left: 2rem;
    padding-right: 2rem;
}
.single-information__image-wrapper {
    width: auto;
    height: auto;
}
/******************************************
            Related Blogs Section
******************************************/
.blogs{
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.single-blog__image-wrapper {
    width: auto;
    height: auto;
}
.single-blog__content-wrapper {
    width: auto;
    position: relative;
}
/******************************************
            Footer Top Section
******************************************/
.footer-top__wrapper {
    column-gap: 3rem;
}
.footer-top {
    padding-left: 2rem;
    padding-right: 2rem;
}
.subscribe-form__input {
    width: auto;
}
.footer-top__menus {
    column-gap:2rem;
}
/******************************************
            Footer Top Section
******************************************/
.footer-bottom {
    padding-left: 2rem;
    padding-right: 2rem;
}
}
@media screen and (min-width: 310px) and (max-width: 479px) {
/******************************************
            Header  Section
******************************************/
.header {
    height: auto;
}

/******************************************
            Nav top  Section
******************************************/ 
.nav {
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav__icons {
    column-gap: 1rem;
}
/******************************************
            hero  Section
******************************************/
.hero {
    padding-left: 1rem;
    padding-right: 1rem;
}
.hero h1 {
    font-size: 5rem;
    text-align: left;
}
.hero__content-wrapper {
    padding-top: 0rem;
}
.hero .grid--2-col {
    grid-template-columns: 1fr;
}
.hero__absolute-image-wrapper {
    width: auto;
    height: auto;
}
/******************************************
            Store Section
******************************************/
.add-cart{
    grid-template-columns: 1fr;
    justify-items: center;
}
.store {
    height:auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.store h2 {
    font-size: 3rem;
    text-align: left;
}
.store__video-wrapper iframe{
    position: relative;
    top: 3rem;
    width: auto;
    height: auto;
}
.store__content {
    padding: 0;
}
.store .grid--2-col {
    grid-template-columns: 1fr;
    padding-top: 3rem;
}
.store__image-wrapper {
    width: auto;
    height: auto;
}
/******************************************
            Features and Benefit Section
******************************************/
.features {
    padding: 3rem 1rem;
}
.features .grid--4-col {
    grid-template-columns: 1fr;
}
.features h2 {
    font-size: 3rem;
    line-height: 3.14rem;
    text-align: left;
}
.features p {
    text-align: left;
}
/******************************************
            Mobile Products Section
******************************************/
.mobile-products {
    padding: 3rem 1rem;
    height: auto;
}
.mobile-products .grid__content-col {
    padding-top: 0;
}
.mobile-products h3 {
    margin-bottom: 1.3rem;
}
.mobile-products .grid--2-col {
    grid-template-columns: 1fr;
    row-gap: 3rem;
}
.mobile-products__image-wrapper {
    position: static;
    width:21rem;
    height: 25rem;
    margin: auto;
}
/******************************************
            Test Parameter  Section
******************************************/
.test-parameter {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
}
.test-parameter__image-wrapper {
    width: auto;
}
.test-parameter .grid--2-col {
    grid-template-columns: 1fr;
}
.test-parameter h2 {
    font-size: 3rem;
    text-align: left;
}
/******************************************
            Healt Facts  Section
******************************************/
.health-facts {
    padding: 3rem 1rem 3.5rem;
}
.health-facts__wrapper {
    flex-direction:column;
    row-gap: 2rem;
    padding: 0;
}
.health-facts h1 {
    font-size: 4rem;
    line-height: 1.5;
    text-align: left;
}
.health-facts p {
    text-align: left;
}
.health-facts h2 {
    font-size: 3rem;
    text-align: left;
}
/******************************************
            Customer Comment  Section
******************************************/
.customer-comment {
    padding:4rem 1rem;
}
.customer-comment .grid--2-col {
    grid-template-columns: 1fr;
}

/******************************************
            Other Information  Section
******************************************/
.other-information {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
}
.other-information .grid--4-col {
    grid-template-columns: 1fr !important;
}
.single-information__image-wrapper {
    width: auto;
    height: auto;
}
.other-information h2 {
    font-size: 3rem;
    text-align: left;
}
/******************************************
            Related Blog Section
******************************************/
.blogs {
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
}
.blogs .grid--3-col {
    grid-template-columns: 1fr;
}
.single-blog__image-wrapper {
    width: auto;
    height: auto;
}
.single-blog__content-wrapper {
    position: inherit;
    width: auto;
}
.blogs h2 {
    font-size: 3rem;
    text-align: left;
}
/******************************************
            Footer top  Section
******************************************/
.footer-top {
    padding-left:1rem;
    padding-right: 1rem;
}
.footer-top__wrapper{
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

/******************************************
            Footer Bottom  Section
******************************************/
.footer-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
/******************************************
            Header  Section
******************************************/
.header {
    height: auto;
}

/******************************************
            Nav top  Section
******************************************/ 
.nav-top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/******************************************
            hero  Section
******************************************/
.hero {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.hero .grid--2-col {
    grid-template-columns: 1fr;
}
.hero__content-wrapper {
    padding-top: 3rem;
}
.hero__absolute-image-wrapper {
    width: auto;
    height: auto;
}
/******************************************
            store Section
******************************************/
.store__image-wrapper {
    width: auto;
    height: auto;
    position: relative;
    top: 3rem;
}
.store {
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.store__image-wrapper {
    width: auto;
    height: auto;
}
.store .grid--2-col {
    grid-template-columns: 1fr;
    padding-top: 5rem;
}
.store__content {
    padding-top: 0;
}
.store__video-wrapper iframe {
    width: 40rem;
}
/******************************************
            Features and Benefit Section
******************************************/
.features {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.features .grid--4-col {
    grid-template-columns: 1fr 1fr;
}
.features h4 {
    text-align: left;
}
.features p {
    text-align: left;
}
/******************************************
            Mobile Products Section
******************************************/
.mobile-products {
    height: auto;
    padding: 3rem 1.5rem;
}
.mobile-products .grid__content-col {
    padding-top: 0;
}
.mobile-products__image-wrapper {
    width:25rem;
    height:34rem;
    margin: auto;
    position: static;
}
.mobile-products .grid--2-col {
    grid-template-columns: 1fr;
    row-gap: 5rem;
}
/******************************************
            Test Parameter  Section
******************************************/
.test-parameter {
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.test-parameter__image-wrapper {
    height: auto;
    width: auto;
}
/******************************************
            Healt Facts  Section
******************************************/
.health-facts {
    padding: 3rem 1.5rem;
}
.health-facts__wrapper {
    padding: 0;
    column-gap: 9rem;
}
.health-facts h1 {
    font-size: 5rem;
}
/******************************************
            Customer Comment  Section
******************************************/
.customer-comment {
    padding: 3rem 1.5rem;
}

/******************************************
            Other Information  Section
******************************************/
.other-information {
    padding: 3rem 1.5rem 0 1.5rem;
}
.single-information__image-wrapper {
    width: auto;
    height: auto;
}
.other-information .grid--4-col {
    grid-template-columns: 1fr 1fr;
}
/******************************************
            Related Blog Section
******************************************/
.blogs {
    height: auto;
    padding: 3rem 1.5rem 0 1.5rem;
}
.blogs .grid--3-col {
    grid-template-columns: 1fr ;
}
.single-blog__image-wrapper {
    width: auto;
    height: auto;
}
.single-blog__content-wrapper {
    width: auto;
    position: relative;
}
/******************************************
            Footer top  Section
******************************************/
.footer-top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.footer-top__wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}
/******************************************
            Footer Bottom  Section
******************************************/
.footer-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
}